/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo para el body */
body {
    background-color: #292c4b;
}

/* estilos para el header */


header nav ul li a {
    text-decoration: none;
    color: aquamarine;
}

.nav-link,
.navbar-brand {
    color: whitesmoke;
}

.navbar {
    background-color: #283747;
}

/* estilo para titulos */
h1,
h2 {
    color: #eae5f3;
    text-align: center;
    padding: 10px;
}

/* estilos de especificidad */
main ul li {
    color: pink;
}

main ol li {
    color: greenyellow;
}

/* estilo para main */
main {
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    list-style-position: inside;
}

/* imagen responsive */
main div img {
    width: 100%;
    height: auto;
}

main ul li a {
    color: #099eae;
    text-decoration: none;
}

/* estilo para el footer */
footer {
    text-align: center;
    color: aliceblue;
}

/* Estilo para Redes */

.redes-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: solid darkred;
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    min-width: 250px;
    background-color: rgb(51, 0, 0);
    border-radius: 20px;
}

/* estilo para preparacion y dificultad */
.detalle-preparacion {
    background-color: rgb(90, 0, 102);
    border: solid black;
}

main section div img {
    width: 100%;
    height: 100%;
}

/* Acomodo las listas para el proximo grid */
.cajita-1,
.cajita-2 {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
}

/* Escondo las imagenes para agregarlas mas tarde */
.img-ingrediente-3,
.img-ingrediente-4 {
    display: none;
}

/* Grid para ingredientes */
.caja-ingredientes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 8px;
}

.caja-ingredientes img{
    border-radius: 8px;
}

.cajita-1 {
    grid-column: span 2 / span 2;
}

.cajita-2 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

.img-ingrediente-1 {
    grid-row-start: 3;
}

.img-ingrediente-2 {
    grid-row-start: 3;
}

.imagen-fix {
    object-fit: cover;
}

.receta-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.receta-box img{
    border-radius: 8px;
}

.recom-1 {
    grid-area: 1 / 1 / 3 / 2;
}

.recom-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.recom-3 {
    grid-area: 2 / 2 / 3 / 3;
}

/* Estilo para Desktop */

@media screen and (min-width: 768px) {

    .img-ingrediente-3,
    .img-ingrediente-4 {
        display: block;
    }

    .caja-ingredientes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(4, 1fr);

    }

    .caja-ingredientes img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
    }

    .cajita-1 {
        grid-area: 1 / 1 / 3 / 2;
    }

    .cajita-2 {
        grid-area: 3 / 1 / 5 / 2;
    }

    .img-ingrediente-1 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .img-ingrediente-2 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .img-ingrediente-3 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .img-ingrediente-4 {
        grid-area: 4 / 2 / 5 / 3;
    }

    .img-ingrediente-1, .img-ingrediente-2, .img-ingrediente-3, .img-ingrediente-4{
        height: 300px;
    }

    .receta-relacionada {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .receta-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .recom-1 img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .recom-2 {
        color: antiquewhite;
    }

    .recom-3 {
        font-size: 1rem;
        color: dimgrey;
    }

}