/* variables del proyecto */

$color_1: aquamarine;
$color_2: whitesmoke;
$color_3: #eae5f3;
$color_4: pink;
$color_5: greenyellow;
$color_6: aliceblue;
$color_7: #099eae;
$color_8: rgb(92, 188, 218);
$color_9: antiquewhite;
$color_10: dimgrey;
$background-color_1: #292c4b;
$background-color_2: #283747;